*{
    box-sizing: border-box;
}
body{
    background-color: yellow;
}
header{
    background-color: aqua;
    width: 500px;
}
.topnav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.left-links{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    font-size: 1.5rem;
    list-style: none;
}
.left-links li a{
display: inline-block;
padding: 5px;
text-decoration: none;
}
.right-links a{
    text-decoration: none;
    display: flex;
    margin: 0px;
    flex-direction: row;
    padding: 5px;
    font-size: 1.5rem;
}
.text{
    background-color: green;
    width: 80%;
    margin-right: 25px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    height: 40px;
    font-size: 2rem;
}
.cubes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    padding-left: 6px;
}
section{
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.cubes div{
height: 100px;
background-color: blueviolet;
margin-bottom: 5px;
}
@media (max-width: 768px)
{
.media
.text{
    width: 100%;
    margin: 0;
}
section{
    flex-direction: column;
}
.cubes{
    width: 100%;
    flex-direction: row;
    flex-wrap: inherit;
    /* padding: 0; */
    flex-wrap: wrap;
}
.cubes div{
    width:49%;
    margin: 0.5%;
}
}
